WebApplication3/HelloClient/Connected Services/HelloDOB/DOB.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetDob">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="date" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDobResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDobResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetDobSoapIn">
    <wsdl:part name="parameters" element="tns:GetDob" />
  </wsdl:message>
  <wsdl:message name="GetDobSoapOut">
    <wsdl:part name="parameters" element="tns:GetDobResponse" />
  </wsdl:message>
  <wsdl:portType name="DOBSoap">
    <wsdl:operation name="GetDob">
      <wsdl:input message="tns:GetDobSoapIn" />
      <wsdl:output message="tns:GetDobSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DOBSoap" type="tns:DOBSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDob">
      <soap:operation soapAction="http://tempuri.org/GetDob" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DOBSoap12" type="tns:DOBSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDob">
      <soap12:operation soapAction="http://tempuri.org/GetDob" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DOB">
    <wsdl:port name="DOBSoap" binding="tns:DOBSoap">
      <soap:address location="https://localhost:44389/DOB.asmx" />
    </wsdl:port>
    <wsdl:port name="DOBSoap12" binding="tns:DOBSoap12">
      <soap12:address location="https://localhost:44389/DOB.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>